* {
    background-color: black;
    align-items: center;
    margin: 0;
    padding: 0;
}

td {
    border: 1px solid white;
    border-collapse: collapse;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    color: blue;
}